<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE-TRACKER</title>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/rock-music-instruments/154/rock-band-drum-kit-music-512.png">
    <link rel="stylesheet" type="text/css" href="../assets/assets_err.css">
    </head>
</head>
<body>
    
    <h1 class="Err">{{.Message}}</h1>
    <button class="Return"><a href="/">GO BACK</a></button>
</body>
</html>